/* 공통컬러 속성지정  */
:root {
  --font-inter: "noto";
  --blue-color: #4b4eba;
  --yellow-color: #f0c648;
  --skyblue-color: #afe0fe;
  --border-color: #d9d9d9;
}

/* 폰트 전체 사이즈를 html에 선언 */
html {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

